<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOj0F4mtTUpTfTI7irMQwEuZxZz1AZ9LQBN7I6sFsTFbApJkzERnpDwtk1E1q"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</head>
<body>
      <div class="container">
        <h1>Welcome to the Admin Dashboard</h1>

        <h2>Pending Posts</h2>
        {{log "Pending Posts:" pendingPosts}}
        <ul class="list-group">
            {{#each pendingPosts}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{this.image}}" class="img-fluid" alt="Post Image">
                    </div>
                    <div class="col-md-8">
                        <p class="mb-2"><strong>Name:</strong> {{this.name}}</p>
                        <p class="mb-2"><strong>Description:</strong> {{this.description}}</p>
                        <p class="mb-2"><strong>Category:</strong> {{this.category}}</p>
                        <p class="mb-2"><strong>By User:</strong> {{this.author.id.username}}</p>
                        <a href="/admin/approvePost/{{this._id}}" class="btn btn-success">Approve</a>
                        <form method="POST" action="/admin/rejectPost/{{this._id}}" style="display: inline;">
                            <button type="submit" class="btn btn-success">Reject</button>
                        </form>

                    </div>
                </div>
            </li>
            {{/each}}
        </ul>


    <a href="/logout" class="btn btn-danger mt-3">Logout</a>
    <a href="/posts" class="btn btn-danger mt-3">go back</a>
    </div>
</body>
</html>
